html body {
  font-size: 18px;
  line-height: 1.8;
  background-color: #e9ecef;
  color: #343a40;
  font-family: -apple-system, "SF UI Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "Lantinghei SC", "Source Han Sans", "Noto Sans CJK", sans-serif, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  line-height: inherit;
}
html body h1 small,
html body h2 small,
html body h3 small,
html body h4 small,
html body h5 small,
html body h6 small {
  font-size: 0.6em;
  font-weight: inherit;
}
html body h1 {
  font-size: 2.4rem;
  font-weight: 200;
  text-align: center;
}
html body h2 {
  font-size: 2rem;
  font-weight: normal;
}
html body h3 {
  font-size: 1.8rem;
  font-weight: 200;
}
html body h4 {
  font-size: 1.6rem;
  font-weight: normal;
}
html body h5 {
  font-size: 1.4rem;
  font-weight: normal;
}
html body h6 {
  font-size: 1.2rem;
  font-weight: normal;
}
html body a {
  padding: 0 8px;
  border-radius: 4px;
  color: #e83e8c;
}
html body a:hover {
  background-color: #ef78af;
  color: #fff;
  text-decoration: none;
}
html body code,
html body kbd,
html body pre,
html body samp {
  font-family: inherit;
}
html body header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 420px;
}
html body header .header-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
html body header h1 {
  line-height: 1.2;
}
html body header h1 a,
html body header h1 a:hover,
html body header h1 small {
  display: inline-block;
  margin-top: 8px;
  padding: 3px 16px;
  color: inherit;
  text-decoration: none;
  background-color: rgba(255,255,255,0.6);
}
html body header nav {
  background-color: rgba(0,0,0,0.2);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
html body header nav a {
  color: #f8f9fa;
  border-radius: 0;
}
html body header nav a:hover {
  background-color: #6c757d;
}
html body header nav a.active {
  background-color: #343a40;
  color: #fff;
}
html body footer {
  color: #6c757d;
  padding: 16px 0 32px;
  font-size: 0.8rem;
}
html body #content {
  position: relative;
  background-color: #fff;
  word-break: break-all;
  box-shadow: 0 0 4rem 0.3rem rgba(0,0,0,0.2);
  padding: 2.4rem 80px;
}
@media (max-width: 768px) {
  html body #content {
    padding: 1.2rem 40px;
  }
}
html body #content h1,
html body #content h2,
html body #content h3,
html body #content h4,
html body #content h5,
html body #content h6 {
  margin: 1.2rem 0;
}
html body #content h1 {
  border-bottom: 5px solid #dee2e6;
}
html body #content h2 {
  border-bottom: 1px solid #e9ecef;
}
html body #content h5 {
  color: #495057;
}
html body #content h6 {
  color: #6c757d;
}
html body #content p,
html body #content blockquote,
html body #content ul,
html body #content ol,
html body #content dl,
html body #content table {
  margin: 1.2rem 0;
}
html body #content .post-content > p,
html body #content .page-content > p {
  text-indent: 2em;
}
html body #content p {
  text-align: justify;
}
html body #content p a {
  text-indent: 0;
}
html body #content p code {
  text-indent: 0;
  word-break: break-all;
  padding: 1px 4px;
  border-radius: 4px;
  background-color: #f8f9fa;
}
html body #content .image-box {
  position: relative;
  width: calc(100% + 160px);
  margin: 1.2rem -80px;
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  html body #content .image-box {
    width: calc(100% + 80px);
    margin: 1.2rem -40px;
  }
}
html body #content .image-box a {
  margin: 0;
  padding: 0;
}
html body #content .image-box img {
  max-width: 100%;
  align-self: flex-start;
  border: none;
}
html body #content #image-show .image-box.featured-image {
  margin-top: -2.4rem;
}
html body #content ul,
html body #content ol {
  padding-left: 2em;
}
html body #content ul:first-child,
html body #content ol:first-child {
  margin-top: 0;
}
html body #content ul:last-child,
html body #content ol:last-child {
  margin-bottom: 0;
}
html body #content ul li > ol,
html body #content ol li > ol,
html body #content ul li > ul,
html body #content ol li > ul {
  margin: 0 0;
}
html body #content ul li p.first,
html body #content ol li p.first {
  display: inline-block;
}
html body #content hr {
  height: 2px;
  padding: 0;
  margin: 0.96rem 0;
  background-color: #e9ecef;
  border: 0 none;
  overflow: hidden;
  box-sizing: content-box;
}
html body #content blockquote {
  border-left: 5px solid #6c757d;
  padding: 1px 40px;
  color: #343a40;
  background-color: rgba(222,226,230,0.5);
}
@media (max-width: 768px) {
  html body #content blockquote {
    padding: 1px 20px;
  }
}
html body #content .code-show {
  position: relative;
  border-top: 2px solid #e9ecef;
  border-bottom: 2px solid #dee2e6;
  padding: 1.2rem 80px;
  margin: 1.2rem -80px;
}
@media (max-width: 768px) {
  html body #content .code-show {
    margin: 1.2rem -40px;
    padding: 1.2rem 40px;
  }
}
html body #content .code-show:before,
html body #content .code-show:after {
  position: absolute;
  left: 80px;
  height: 18px;
  text-align: center;
  background-color: #fff;
  font-size: 10.799999999999999px;
  line-height: 18px;
  color: #6c757d;
  padding: 0 3px;
}
html body #content .code-show:before {
  top: -10px;
  content: attr(data-before-text);
}
html body #content .code-show:after {
  bottom: -10px;
  content: attr(data-after-text);
}
html body #content .post-meta {
  position: relative;
  padding: 10px 20px;
  margin: -1.2rem 0 1.2rem;
  background: #f8f9fa;
  font-size: 0.8rem;
  text-indent: 2em;
  color: #6c757d;
  text-align: center;
}
html body #content #video {
  overflow: hidden;
  transition: height 1s;
}
html body #content #video iframe {
  transition: margin 1s;
}
html body #content #video .toggle {
  display: block;
  width: 100%;
  background: #f8f9fa;
  border: 1px solid #dee2e6;
  font-size: 14.4px;
}
html body #content .foot-notes,
html body #content .foot-tip {
  font-size: 0.8rem;
  border-top: 5px solid #dee2e6;
  color: #6c757d;
}
html body #content .foot-notes .footnote,
html body #content .foot-tip .footnote {
  margin-left: -1em;
  color: #e83e8c;
}
html body #content #cat-nav {
  display: flex;
}
html body #content #cat-nav a {
  color: #007bff;
  border: 1px solid #dee2e6;
  padding: 0 8px;
  margin: 4px;
}
html body #content #cat-nav a:hover {
  background-color: #e9ecef;
}
html body #content #cat-nav .current {
  padding: 0 8px;
  margin: 4px;
}
html body #content #article-nav {
  width: 100%;
}
html body #content #article-nav ul {
  margin: 1.2rem 0 0;
  padding: 0;
}
html body #content #my-coffee {
  background: #fff;
}
html body #content .show-trigger {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  margin: 0 -80px;
  padding: 0 80px;
}
@media (max-width: 768px) {
  html body #content .show-trigger {
    margin: 0 -40px;
    padding: 0 40px;
  }
}
html body #content #post-expand-trigger {
  position: absolute;
  z-index: 1;
  top: -6.399999999999999rem;
  width: 100%;
  color: #e83e8c;
  text-align: center;
  background: linear-gradient(rgba(255,255,255,0), #fff);
  padding-top: 3.6rem;
  margin: 0 -80px;
}
@media (max-width: 768px) {
  html body #content #post-expand-trigger {
    margin: 0 -40px;
  }
}
html body #content #post-expand-trigger .trigger {
  display: inline-block;
  position: relative;
  top: -1.2rem;
  width: 32.4px;
  height: 32.4px;
  background-color: #e83e8c;
  background-clip: padding-box;
  box-sizing: content-box;
  border-radius: 50%;
  border: 9px solid rgba(232,62,140,0.3);
  color: #fff;
  line-height: 32.4px;
  font-size: 25.2px;
  font-weight: 800;
  cursor: pointer;
}
html body #content #notice {
  position: relative;
}
html body #content #index>ul>li {
  position: relative;
  list-style: none;
}
html body #content #index>ul>li:before {
  position: absolute;
  left: -32.4px;
  top: 1.62px;
  content: ' ';
  display: block;
  width: 32.4px;
  height: 32.4px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABlklEQVRYR2NkGGDAOMD2M4w6YDQEcIZAV1fX0lWrVkX9//+fonTKxcXFEB0dHZCRkbERm0E4HZCfn3/syJEjln5+fgzi4uJkOeLcuXMMZ8+eZfD39y+vq6vrItkBV65csdyzZw9ZloM03b59myEyMpJ8B1y/ft1y586dYAdcOjmfYe7chQxfv/8j6KCw0AAGN78ihrt37zKEh4dTxwHBvmYMP37+YZAUwe+A1++ZGL7+YGLYs/8MdR3g7GDE4GP7myEt6BfeEFi5i5Vh2moOhjNnRh1A5RAgJQ18+c7AsPfAOeqmgaO7exjmL8JalqCkCU52JobY6AAGM8dC6jqAYN7DooCq2RDZ/O3btzM8evQIxUp1dXUGBwcHFDGaOSA4OJjh4cOHKJYZGRkxzJo1iz4OIDY6qBoCL168YHjy5AlRdktKSjJIS0tTNxGCKhVQ5UIMEBUVZQClkwELAQkJCQYZGRnKHTDg1fGANkgqKysn7t69O4/SJhknJyeDu7u7c21t7T6SWkTEJDZqqBltlo+GwICHAABTsHAw4PHa6AAAAABJRU5ErkJggg==");
  background-repeat: no-repeat;
}
html body #content #index>ul>li>a {
  font-size: 21.599999999999998px;
  line-height: 38.879999999999995px;
  margin-bottom: 10px;
  color: #343a40;
  background: none;
}
html body #content #index>ul>li a {
  color: #6c757d;
  background: none;
}
/* 以下代码高亮部分 */
article pre {
  position: relative;
  width: calc(100% + 160px);
  margin: 1.2rem -80px;
  background-color: #26323b;
}
@media (max-width: 768px) {
  article pre {
    width: calc(100% + 80px);
    margin: 1.2rem -40px;
  }
}
article pre:before,
article pre:after {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 14.4px;
  text-align: left;
  color: #6c757d;
}
article pre:before {
  content: attr(data-file-name);
}
article pre:after {
  left: 1rem;
  content: attr(data-lang-name);
}
article pre code {
  display: block;
  color: #77cef1;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-all;
  border-left: 1px solid #6c757d;
  margin: 0 70px;
  padding: 1.2rem 10px;
}
@media (max-width: 768px) {
  article pre code {
    margin: 0 30px;
  }
}
article pre code .code-line {
  position: relative;
}
article pre code .code-line:before {
  position: absolute;
  top: 0;
  left: -54px;
  width: 36px;
  content: attr(data-line-num);
  text-align: right;
  color: #6c757d;
}
article pre code .code-line .one-tab {
  display: inline-block;
  width: 2rem;
  height: 18px;
  border-left: 1px dashed #6c757d;
}
article pre code .code-line .one-tab:first-child {
  border: none;
}
article pre code .code-line .hljs-comment,
article pre code .code-line .hljs-quote {
  color: #5a7690;
  font-style: italic;
}
article pre code .code-line .hljs-doctag,
article pre code .code-line .hljs-keyword,
article pre code .code-line .hljs-formula {
  color: #b094de;
}
article pre code .code-line .hljs-section,
article pre code .code-line .hljs-name,
article pre code .code-line .hljs-selector-tag,
article pre code .code-line .hljs-deletion,
article pre code .code-line .hljs-subst {
  color: #ea6442;
}
article pre code .code-line .hljs-literal {
  color: #77cef1;
}
article pre code .code-line .hljs-string,
article pre code .code-line .hljs-regexp,
article pre code .code-line .hljs-addition,
article pre code .code-line .hljs-attribute,
article pre code .code-line .hljs-meta-string {
  color: #f4cf77;
}
article pre code .code-line .hljs-built_in,
article pre code .code-line .hljs-class .hljs-title {
  color: #e6c07b;
}
article pre code .code-line .hljs-attr,
article pre code .code-line .hljs-variable,
article pre code .code-line .hljs-template-variable,
article pre code .code-line .hljs-type,
article pre code .code-line .hljs-selector-class,
article pre code .code-line .hljs-selector-attr,
article pre code .code-line .hljs-selector-pseudo,
article pre code .code-line .hljs-number {
  color: #74e158;
}
article pre code .code-line .hljs-symbol,
article pre code .code-line .hljs-bullet,
article pre code .code-line .hljs-link,
article pre code .code-line .hljs-meta,
article pre code .code-line .hljs-selector-id,
article pre code .code-line .hljs-title {
  color: #61aeee;
}
article pre code .code-line .hljs-emphasis {
  font-style: italic;
}
article pre code .code-line .hljs-strong {
  font-weight: bold;
}
article pre code .code-line .hljs-link {
  text-decoration: underline;
}
